*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
     /* overflow-x: hidden; 
    overflow-y: auto; */

}


.nav-bar{
    height: 60px;
    width: 100%;
    background: #0f1111;
    color: white;
    display: flex;
    justify-content: space-between;
    
    

}
.logo img{
    width: 8rem;
    height: 3rem;
    background-size: cover;
    margin-top: 0.5rem;
    border: 1.5px solid transparent;
    overflow-y: hidden;
    
    
}
.logo img:hover{
    border: 1px solid white;
}
.icon-paragraph{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1.5px solid transparent;
}
.icon-paragraph:hover{
    border: 1.5px solid white;
}
.p{
    margin-left: 0.5rem;
    margin-top: 0rem;
}

.search-bar{
    margin-left: 2rem;
    margin-top: 0.8rem;
    background-color: goldenrod;
    width: 29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
           
}

.select{
    margin-left:1.5rem ;
}
.search-icon i{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.countary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.countary img{
    width: 1.5rem;
    height: 1.3rem;
    margin-right: 0.3rem;
}
.return{
    margin: 0.8rem 0 0 2rem;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:2rem ;
}
.cart i{
    margin-right: 0.3rem;
    
}
.nav{
    background: #222f38;
    border: 2px solid black;
    height: 2.5rem;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
   
    
}
.paragraphs{
    display: flex;
}
.paragraphs p{
    
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    margin-left: 2rem;
    opacity: 0.6;
    border: 1.5ps solid transparent;
    font-size: 0.8rem;

}
.paragraphs p:hover{
           border: 2px solid white;
         opacity: 1;
}
.first{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 1rem;
    font-weight: bold;
    border: 2px solid transparent;
}
.first:hover{
    border: 2px solid white;
    font-weight: 600;
}
.amazon-app{
    width: 400px;
    display: flex;
   justify-content: end;
   align-items: center;
   color: white;
   font-weight: bold; 
   margin-left: 12rem;
   border: 2px solid transparent;
   
}
.amazon-app p{
    margin-left: 0.5rem;
}
.amazon-app:hover{
    border: 2px solid white;
    
}
.countary .return .cart{
    border: 2px solid transparent;
}
.countary:hover{
    border: 2px solid white;

}
.return:hover{
    border: 2px solid white;

}

.cart:hover{
    border: 2px solid white;
}
/* .body{
    height: 70%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    /* align-items: center; */
    /* justify-content: center; 
    width: 100%;
    height: 1340px;
    background: white;
    margin-left: 1rem;
    padding: 1rem;
    justify-content: space-around;
    
}
.cards img{
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
    background-image: contain;
}
.cards p{
  margin-left: 5rem;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0.1px;
}
.cards .card1 a{
    text-decoration: none;
    margin-left: 0rem;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 1rem;
    /* margin-bottom: 3rem; 
}
.card1{
    width: 400px;
    height: 430px;
    background: white;
    flex-wrap:nowrap;
    border: 2px solid grey;
    margin-top: 0;
    pad: 0;

}
.section{
    background-image: url(./IMAGES/0-PC_Hero_2x._CB594150943_.jpg);
    background-image: url("./IMAGES/smartphones.jpg");
    background-image: url("./IMAGES/MA_3000._CB600347170_.jpg");
    height: 300px;
    background-size: cover;
}
.section{
    animation: background-images 5s step-start 1s infinite step-start ;
}
.section img{
    background: black;
    font-size: 30px;   
} */
.image-container{
    position: relative;
    
    
}

.image-list{
    display: flex;
    width: 100%;
    height: 400px;
    transform: matrix(2);
    overflow-x: hidden;
    overflow-y: hidden;
    /* animation: amit 20s linear infinite; */
    
 }
 /* @keyframes amit{
    0%{
        background-image: url("./IMAGES/0-PC_Hero_2x._CB594150943_.jpg");
    }
    25%{
        background-image: url("./IMAGES/smartphones.jpg");
    }
    75%{
        background-image: url("./IMAGES/MA_3000._CB600347170_.jpg");
    }
    100%{
        background-image: url("./IMAGES/Haircare-Herofader-PC._CB594539534_.jpg")
    }
    
 } */
 .image-item{
    min-width: 100%;
 }
 .image-item img{
    width: 100%;
    height: 100%;
    
 }
 .image-btn-container{
    
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
 }
 .slider-btn{
    border-color: transparent;
   color: black;
    font-size: 50px;
    padding: 120px 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    
   
 }
 .slider-btn:hover{
    border: 2px solid black;
    border-width: 0.3px;
    box-shadow: 4px 4px 4px  white;
    
    
 }
 .card1{
    width: 30%;
    height: 80%;
    /* height: 100%px; */
   /* border: 2px solid black; */
    /* position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* margin-left: 25px; */
    margin-top: 20px;
    border: 2px solid black;
    text-align: center;
    
 }
 .cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: hidden;
    height: 100%;
 }
 .card1:hover{
    font-weight: bold;
    width: 31%;
    box-shadow: 15px 15px 5px grey;
    

 }
 .card1 a{
    font-weight: 600;
 }
 

 .cards img{
    width: 300px;
    height: 250px;

 }
 .footer{
    height: 600px;
    
 }
 
 .line{
    border: 1px solid black;
    margin-top: 70px;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: start;
    align-items: center;
        opacity: 0.7;
        
 }
 .line p{
    opacity: 1;
    font-weight: 400;
    columns: black;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
 }
 .line2{
    height: 50px;
    width: 100%;
    background: #222f38;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

 }
 .line2 h5{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .line2:hover{
    opacity: 0.7;
 }
 .contact{
    width:100%;
    height:500px;
    background: #222f38;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 }
 .contact .p1{
    color: white;
    margin-left: 300px;
    display: flex;
    margin-top: -160px;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    opacity: 0.7;
    
 }
 .p1 :hover{
    text-decoration: underline;
    font-weight: bold;
    opacity: 1;
 }
  .contact .p2{
    color: white;
    margin-left: 550px;
    margin-top: -0px;
    font-size: 21px;
    opacity: 0.7;
  }
  .p2:hover{
    text-decoration: underline;
    font-weight: bold;
    opacity: 1;
  }
  .p2 h5{
    margin-top: 10px;
  }
  .p1 h5{
    margin-top: 8px;
  }
  .contact .p3{
    color: white;
    margin-left: 800px;
    margin-top: -120px;
    font-size: 21px;
    opacity: 0.7;

  }
  .p3 h5{
    margin-top: 8px;
  }
  .p3:hover{
    text-decoration: underline;
    font-weight: bold;
    opacity: 1;
  }